.navbar {
  padding: 10px 10%;
  position: sticky;
  top: 0;
  z-index: 1000;
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

  }

  .logo img {
    height: 80px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }

  .nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    margin: 0;

    li a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      padding: 8px 30px;
      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: #c2ffd9;
      }
    }
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
      margin-top: 10px;

      &.open {
        display: flex;
      }

      li a {
        font-size: 18px;
        padding: 8px 0;
      }
    }

    .logo img {
      height: 40px;
      margin-bottom: 10px;
    }

    .nav-content {
      align-items: flex-start;
    }
  }
}
