/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
body .uwy.userway_p1 .userway_buttons_wrapper{
      right: calc(100vw - 50px);
}
body{
   direction: rtl;     font-family: sans-serif;
   @media (max-width: 767px) {
   font-size: 20px;
   }
   text-align: right;
}
@media (min-width: 767px) {
  body{
       font-size: 20px;
  }
    h2,h1 {
        margin: 40px 0px;
    }
}
h1,h2,h3,h4{
    text-align: center;
  color: #0d3b66;
}.back{
        background-color: #0d3b66;
}
  a {
    color: #007bff;
    text-decoration: underline;
    transition: color 0.3s;

    &:hover {
      color: #0056b3;
    }
  }
  section{
      margin: 3rem auto;
  text-align: center;
  }