<!-- כפתור הורדה וגלילה -->
<div class="recommendation-hint" (click)="scrollToRecommendation()" title="מעבר להמלצה">
  <span class="text">המלצת רו"ח</span>
  <span class="arrow">&#x2193;</span>
</div>
<!-- אזור ההמלצה -->
<section id="recommendation-section" class="recommendation-section container">
  <h3>המלצת משרד רואה חשבון</h3>
<iframe 
  src="https://res.cloudinary.com/drtxmwrmb/image/upload/v1753190765/recommendation_owhxy2.pdf" 
  frameborder="0" 
  title="המלצה PDF"></iframe>
</section>
